{% extends "base.html" %}
{% load auth_filter %}
{% block title %}Home{% endblock title %}
{% block content %}
<div id="welcome">
  <h1>WELCOME TO AUTOMATED SHELF SPACE MANAGEMENT SYSTEM</h1>
  {% if user.is_authenticated %}
  <p class="regular__item">System status: </p>
  {% if current_status.store.status == "fine" %}
  <p class="regular__item" style="color: green"><b>{{ current_status.store.data }}</b></p>
  {% elif current_status.store.status == "warning" %}
  <p class="regular__item" style="color: orange"><b>{{ current_status.store.data }}</b></p>
  {% else %}
  <p class="regular__item" style="color: red"><b>{{ current_status.store.data }}</b></p>
  {% endif %}
  {% if current_status.storage.status == "fine" %}
  <p class="regular__item" style="color: green"><b>{{ current_status.storage.data }}</b></p>
  {% elif current_status.storage.status == "warning" %}
  <p class="regular__item" style="color: orange"><b>{{ current_status.storage.data }}</b></p>
  {% else %}
  <p class="regular__item" style="color: red"><b>{{ current_status.storage.data }}</b></p>
  {% endif %}
  {% if current_status.equipment.status == "fine" %}
  <p class="regular__item" style="color: green"><b>{{ current_status.equipment.data }}</b></p>
  {% elif current_status.equipment.status == "warning" %}
  <p class="regular__item" style="color: orange"><b>{{ current_status.equipment.data }}</b></p>
  {% else %}
  <p class="regular__item" style="color: red"><b>{{ current_status.equipment.data }}</b></p>
  {% endif %}
  {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
  <p class="regular__item">Documents awaiting signature:</p>
  {% endif %}
  {% comment %} <form method="POST">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input type="submit" value="Send" />
  </form> {% endcomment %}
  {% else %}
  <p class="regular__item">You should be authenticated to continue work with it</p>
  {% endif %}
</div>

{% endblock content %}
