{% extends "base.html" %}
{% load auth_filter %}
{% block title %}Transportations{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
{% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
<h1 class='regular__item'>Transportations</h1>
<table style='width: 100%; border: 2px solid'>
  <thead>
    <tr>
      <td style='border: 2px solid;'><b>Product</b></td>
      <td style='border: 2px solid;'><b>Company delivered</b></td>
      <td style='border: 2px solid;'><b>Delivery date</b></td>
      <td style='border: 2px solid;'><b>Delivery amount</b></td>
    </tr>
  </thead>
  <tbody>
    {% for transp in transportations %}
    <tr>
      <td style='border: 2px solid;'>{{ transp.product_name }}</td>
      <td style='border: 2px solid;'>{{ transp.company_name }}</td>
      <td style='border: 2px solid;'>{{ transp.delivery_date }}</td>
      <td style='border: 2px solid;'>{{ transp.delivered_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1 class='regular__item'>You are not authorized to see this page</h1>
{% endif %}
{% else %}
<h1 class='regular__item'>You are not authenticated to see this page</h1>
{% endif %}
{% endblock content %}
