{% extends "base.html" %}
{% block title %}О нас{% endblock title %}
{% block errorContent %}{% endblock errorContent %}
{% block content %}
  <div class="jumbotron border">
    <h1>О нас</h1>
    <p class="ml-1 mt-3">Этот сайт предназначен для работы с автоматизированной системой управления полочным пространством супермаркета.</p>
    <p class="ml-1">Система автоматизирует процесс заполнения полочного пространства, одновременно снижая участие человека, сводя его функции к контролю качества и иногда количества выставленных товаров.</p>
    <hr>
    <h1>Контакты</h1>
    <p class="ml-1 mt-3">По всем вопросам писать на электронную почту:<b> JohnDoe@example.com</b></p>
    <p class="ml-1">Контактный номер телефона:<b> 8-(800)-555-35-35</b></p>
  </div>
{% endblock content %}
