{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
<h1 class='regular__item'>About</h1>
<p class='regular__item'>This site is designed to facilitate the management of an automated supermarket shelf space management system.</p>
<p class='regular__item'>System automates the process of filling the shelf space, while reducing human participation, reducing its functions only to monitoring the quality of the exhibited products.</p>
{% load static %}
<img src="{% static 'images/scheme.jpg' %}" alt="Production scheme">
{% endblock content %}
