{% extends "base.html" %}
{% block title %}О нас{% endblock title %}
{% block errorContent %}{% endblock errorContent %}
{% block content %}
  <h1>О нас</h1>
  <p>This site is designed to facilitate the management of an automated supermarket shelf space management system.</p>
  <p>System automates the process of filling the shelf space, while reducing human participation, reducing its functions only to monitoring the quality of the exhibited products.</p>
  <!-- {% load static %}
  <img src="{% static 'images/scheme.jpg' %}" alt="Production scheme"> -->
{% endblock content %}
