{% extends "base.html" %}
{% load googlecharts %}

{% block title %}Аналитика{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']})
      google.charts.setOnLoadCallback(drawCharts)

      let basicOptions = {
        backgroundColor: "#fff",
        colors: ["#09f"],
        lineWidth: 3,
        gridlineColor: "#ddd",
        legend: "none",
        vAxis: {minValue: 0},
        chartArea: {
          left: 40,
          top: 20,
          width: 160,
          height: 160
        },
        backgroundColor: {
          stroke: '#000',
          strokeWidth: 1
        },
        width: 220,
        height: 220
      }
      const soldEveryDayOptions = basicOptions
      const incomeEveryDayOptions = basicOptions

      function drawCharts() {
        {% for fullStatsForSingleShelf in fullStatsForEachShelf %}
          {% with fullStatsForSingleShelf|first as shelfProps %}
            {% with fullStatsForSingleShelf|last as shelfStats %}
              {% for statsName, stats in shelfStats.items %}
                {% if statsName == "soldEveryDay" %}
                  let soldEveryDayData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('string', 'Дата')
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('number', 'Количество')
                  {% for row in stats %}
                    soldEveryDayData_{{ shelfProps.id }}.addRow(['{{ row|first }}', {{ row|last }}])
                  {% endfor %}

                  let soldEveryDayChart_{{ shelfProps.id }} = new google.visualization.LineChart(document.getElementById('soldEveryDayGraph_{{ shelfProps.id }}'))
                  soldEveryDayChart_{{ shelfProps.id }}.draw(soldEveryDayData_{{ shelfProps.id }}, soldEveryDayOptions)
                {% endif %}
                {% if statsName == "incomeEveryDay" %}
                  let incomeEveryDayData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('string', 'Дата')
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', 'Доход')
                  {% for row in stats %}
                    incomeEveryDayData_{{ shelfProps.id }}.addRow(['{{ row|first }}', {{ row|last }}])
                  {% endfor %}

                  let incomeEveryDayChart_{{ shelfProps.id }} = new google.visualization.LineChart(document.getElementById('incomeEveryDayGraph_{{ shelfProps.id }}'))
                  incomeEveryDayChart_{{ shelfProps.id }}.draw(incomeEveryDayData_{{ shelfProps.id }}, incomeEveryDayOptions)
                {% endif %}
              {% endfor %}
            {% endwith %}
          {% endwith %}
        {% endfor %}
      }
    </script>

    <div class="jumbotron border">
      <div class="container-md">
        {% for fullStatsForSingleShelf in fullStatsForEachShelf %}
          {% with fullStatsForSingleShelf|first as shelfProps %}
            {% with fullStatsForSingleShelf|last as shelfStats %}
              <button class="btn btn-success btn-block" style="pointer-events: none;">Секция: {{ shelfProps.section_name }}, полка: {{ shelfProps.shelf_name }}</button>
                <div class="card card-body">
                  <div class="row">
                    {% for statsName, stats in shelfStats.items %}
                      {% if statsName == "soldEveryDay" %}
                        <div class="col-md-4">
                          <div class="mb-2"><b>Статистика продаж:</b></div>
                          <b><div class="mb-2" id="soldEveryDayGraph_{{ shelfProps.id }}"></div></b>
                        </div>
                      {% endif %}
                      {% if statsName == "incomeEveryDay" %}
                        <div class="col-md-4">
                          <div class="mb-2"><b>Ежедневный доход:</b></div>
                          <b><div class="mb-2" id="incomeEveryDayGraph_{{ shelfProps.id }}"></div></b>
                        </div>
                      {% endif %}
                      {% comment %} <div class="col-md-4 mt-4" id="thirdGraph"></div> {% endcomment %}
                    {% endfor %}
                  </div>
                </div>
            {% endwith %}
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock content %}
