{% extends "base.html" %}
{% load googlecharts %}

{% block title %}Аналитика{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']})
      google.charts.setOnLoadCallback(drawCharts)

      let basicOptions = {
        backgroundColor: "#fff",
        colors: ["#DC143C"],
        lineWidth: 2,
        gridlineColor: "#ddd",
        legend: {
          position: "bottom"
        },
        vAxis: {minValue: 0},
        chartArea: {
          left: 30,
          top: 20,
          width: 180,
          height: 160
        },
        backgroundColor: {
          stroke: '#000',
          strokeWidth: 1
        },
        width: 220,
        height: 220
      }
      const soldEveryDayOptions = Object.assign({}, basicOptions)
      soldEveryDayOptions.title = 'Статистика продаж'
      soldEveryDayOptions.curveType = 'function'
      soldEveryDayOptions.intervals = { 'style':'line' }
      soldEveryDayOptions.interval = {
        'i0': { 'style':'line', 'color':'#32CD32', 'lineWidth': 1 },
        'i1': { 'style':'line', 'color':'#09f', 'lineWidth': 0.75 }
      }
      const incomeEveryDayOptions = Object.assign({}, basicOptions)
      incomeEveryDayOptions.title = 'Ежедневный доход'
      incomeEveryDayOptions.colors = ['#DC143C', '#32CD32', '#09F']

      function drawCharts() {
        {% for fullStatsForSingleShelf in fullStatsForEachShelf %}
          {% with fullStatsForSingleShelf|first as shelfProps %}
            {% with fullStatsForSingleShelf|last as shelfStats %}
              {% for statsName, stats in shelfStats.items %}
                {% if statsName == "soldEveryDay" %}
                  let soldEveryDayData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('string', 'Дата')
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('number', '2020')
                  soldEveryDayData_{{ shelfProps.id }}.addColumn({id:'i0', type:'number', role:'interval'})
                  soldEveryDayData_{{ shelfProps.id }}.addColumn({id:'i1', type:'number', role:'interval'})

                  let soldEveryDayRows_{{ shelfProps.id }} = {}
                  {% for year, soldStats in stats.items %}
                    {% for row in soldStats %}
                      if (! soldEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']) {
                        soldEveryDayRows_{{ shelfProps.id }}['{{ row|first }}'] = {}
                      }
                      soldEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']['{{ year }}'] = {{ row|last }}
                    {% endfor %}
                  {% endfor %}
                  for (prop in soldEveryDayRows_{{ shelfProps.id }}) {
                    let soldEveryDayRows = soldEveryDayRows_{{ shelfProps.id }}
                    soldEveryDayData_{{ shelfProps.id }}
                      .addRow([
                        prop,
                        soldEveryDayRows[prop]['2020'] || 0,
                        soldEveryDayRows[prop]['2019'] || 0,
                        soldEveryDayRows[prop]['2018'] || 0
                      ])
                  }

                  let soldEveryDayChart_{{ shelfProps.id }} = new google.visualization.LineChart(document.getElementById('soldEveryDayGraph_{{ shelfProps.id }}'))
                  soldEveryDayChart_{{ shelfProps.id }}.draw(soldEveryDayData_{{ shelfProps.id }}, soldEveryDayOptions)
                {% endif %}
                {% if statsName == "incomeEveryDay" %}
                  let incomeEveryDayData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('string', 'Дата')
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', '2020')
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', '2019')
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', '2018')

                  let incomeEveryDayRows_{{ shelfProps.id }} = {}
                  {% for year, incomeStats in stats.items %}
                    {% for row in incomeStats %}
                      if (! incomeEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']) {
                        incomeEveryDayRows_{{ shelfProps.id }}['{{ row|first }}'] = {}
                      }
                      incomeEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']['{{ year }}'] = {{ row|last }}
                    {% endfor %}
                  {% endfor %}
                  for (prop in incomeEveryDayRows_{{ shelfProps.id }}) {
                    let incomeEveryDayRows = incomeEveryDayRows_{{ shelfProps.id }}
                    incomeEveryDayData_{{ shelfProps.id }}
                      .addRow([
                        {v: prop, f: prop},
                        incomeEveryDayRows[prop]['2020'] || 0,
                        incomeEveryDayRows[prop]['2019'] || 0,
                        incomeEveryDayRows[prop]['2018'] || 0
                      ])
                  }

                  let incomeEveryDayChart_{{ shelfProps.id }} = new google.visualization.ColumnChart(document.getElementById('incomeEveryDayGraph_{{ shelfProps.id }}'))
                  incomeEveryDayChart_{{ shelfProps.id }}.draw(incomeEveryDayData_{{ shelfProps.id }}, incomeEveryDayOptions)
                {% endif %}
              {% endfor %}
            {% endwith %}
          {% endwith %}
        {% endfor %}
      }
    </script>

    <div class="container-md">
      {% for fullStatsForSingleShelf in fullStatsForEachShelf %}
        {% with fullStatsForSingleShelf|first as shelfProps %}
          {% with fullStatsForSingleShelf|last as shelfStats %}
            <button class="btn btn-success btn-block" style="pointer-events: none;">Секция: {{ shelfProps.section_name }}, полка: {{ shelfProps.shelf_name }}</button>
              <div class="card card-body">
                <div class="row">
                  {% for statsName, stats in shelfStats.items %}
                    {% if statsName == "soldEveryDay" %}
                      <div class="col-md-4" style="margin: 0 auto;">
                        <b><div class="my-2" align="center" id="soldEveryDayGraph_{{ shelfProps.id }}"></div></b>
                      </div>
                    {% endif %}
                    {% if statsName == "incomeEveryDay" %}
                      <div class="col-md-4" style="margin: 0 auto;">
                        <b><div class="my-2" align="center" id="incomeEveryDayGraph_{{ shelfProps.id }}"></div></b>
                      </div>
                    {% endif %}
                    {% if hasThirdOption %}
                      <div class="col-md-4" style="margin: 0 auto;">
                        <b><div class="my-2" align="center"></div></b>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
