{% extends "base.html" %}
{% load auth_filter %}
{% load googlecharts %}
{% load static %}

{% block title %}Аналитика{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/helpers.js'%}" type="text/javascript">
      /*
        Available funcitons in helpers.js:
        * ajaxRequest (url, action, payload, resultHandler)
        * ajaxRequestFile (url, data, resultHandler)
        * genericResultHandler (result, successHandler, failureHandler)
      */
    </script>
    <script type="text/javascript">
      const url = '{% url "analytics" %}'

      google.charts.load('current', {'packages':['corechart']})
      google.charts.setOnLoadCallback(drawCharts)

      let basicOptions = {
        backgroundColor: "#fff",
        colors: ['#09F', '#32CD32', '#DC143C'],
        lineWidth: 2,
        gridlineColor: "#ddd",
        legend: {
          position: "bottom"
        },
        vAxis: {minValue: 0},
        chartArea: {
          left: 30,
          top: 20,
          width: '85%',
          height: '80%'
        },
        backgroundColor: {
          stroke: '#000',
          strokeWidth: 1
        },
        width: '100%',
        height: '100%'
      }
      const soldEveryDayOptions = Object.assign({}, basicOptions)
      soldEveryDayOptions.title = 'Статистика продаж'
      soldEveryDayOptions.curveType = 'function'
      const incomeEveryDayOptions = Object.assign({}, basicOptions)
      incomeEveryDayOptions.title = 'Ежедневный доход'
      const failuresInYearOptions = Object.assign({}, basicOptions)
      failuresInYearOptions.title = 'Годовые соотношения созданных задач'
      failuresInYearOptions.pieSliceText = 'label'
      failuresInYearOptions.chartArea = {
        left: 17,
        top: failuresInYearOptions.chartArea.top,
        width: failuresInYearOptions.chartArea.width,
        height: failuresInYearOptions.chartArea.height
      }

      const currentYear = `${new Date().getFullYear()}`

      function drawCharts() {
        {% for fullStatsForSingleShelf in fullStatsForEachShelf %}
          {% with fullStatsForSingleShelf|first as shelfProps %}
            {% with fullStatsForSingleShelf|last as shelfStats %}
              {% for statsName, stats in shelfStats.items %}
                {% if statsName == "soldEveryDay" %}
                  let soldEveryDayData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('string', 'Дата')
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('number', `${currentYear - 2}`)
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('number', `${currentYear - 1}`)
                  soldEveryDayData_{{ shelfProps.id }}.addColumn('number', currentYear)

                  let soldEveryDayRows_{{ shelfProps.id }} = {}
                  {% for year, soldStats in stats.items %}
                    {% for row in soldStats %}
                      if (! soldEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']) {
                        soldEveryDayRows_{{ shelfProps.id }}['{{ row|first }}'] = {}
                      }
                      soldEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']['{{ year }}'] = {{ row|last }}
                    {% endfor %}
                  {% endfor %}
                  for (prop in soldEveryDayRows_{{ shelfProps.id }}) {
                    let soldEveryDayRows = soldEveryDayRows_{{ shelfProps.id }}
                    soldEveryDayData_{{ shelfProps.id }}
                      .addRow([
                        prop,
                        soldEveryDayRows[prop][`${currentYear - 2}`] || 0,
                        soldEveryDayRows[prop][`${currentYear - 1}`] || 0,
                        soldEveryDayRows[prop][currentYear] || 0
                      ])
                  }

                  let soldEveryDayChart_{{ shelfProps.id }} = new google.visualization.LineChart(document.getElementById('soldEveryDayGraph_{{ shelfProps.id }}'))
                  soldEveryDayChart_{{ shelfProps.id }}.draw(soldEveryDayData_{{ shelfProps.id }}, soldEveryDayOptions)
                {% elif statsName == "incomeEveryDay" %}
                  let incomeEveryDayData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('string', 'Дата')
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', `${currentYear - 2}`)
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', `${currentYear - 1}`)
                  incomeEveryDayData_{{ shelfProps.id }}.addColumn('number', currentYear)

                  let incomeEveryDayRows_{{ shelfProps.id }} = {}
                  {% for year, incomeStats in stats.items %}
                    {% for row in incomeStats %}
                      if (! incomeEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']) {
                        incomeEveryDayRows_{{ shelfProps.id }}['{{ row|first }}'] = {}
                      }
                      incomeEveryDayRows_{{ shelfProps.id }}['{{ row|first }}']['{{ year }}'] = {{ row|last }}
                    {% endfor %}
                  {% endfor %}
                  for (prop in incomeEveryDayRows_{{ shelfProps.id }}) {
                    let incomeEveryDayRows = incomeEveryDayRows_{{ shelfProps.id }}
                    incomeEveryDayData_{{ shelfProps.id }}
                      .addRow([
                        {v: prop, f: prop},
                        incomeEveryDayRows[prop][`${currentYear - 2}`] || 0,
                        incomeEveryDayRows[prop][`${currentYear - 1}`] || 0,
                        incomeEveryDayRows[prop][currentYear] || 0
                      ])
                  }

                  let incomeEveryDayChart_{{ shelfProps.id }} = new google.visualization.ColumnChart(document.getElementById('incomeEveryDayGraph_{{ shelfProps.id }}'))
                  incomeEveryDayChart_{{ shelfProps.id }}.draw(incomeEveryDayData_{{ shelfProps.id }}, incomeEveryDayOptions)
                {% elif statsName == "failuresInYear" %}
                  let failuresInYearData_{{ shelfProps.id }} = new google.visualization.DataTable()
                  failuresInYearData_{{ shelfProps.id }}.addColumn('string', 'Year')
                  failuresInYearData_{{ shelfProps.id }}.addColumn('number', 'Failures')

                  let failuresInYearRows_{{ shelfProps.id }} = {}
                  {% for year, failures in stats.items %}
                    failuresInYearRows_{{ shelfProps.id }}['{{ year }}'] = {{ failures }}
                  {% endfor %}
                  failuresInYearData_{{ shelfProps.id }}
                    .addRows([
                      [`${currentYear - 2}`, failuresInYearRows_{{ shelfProps.id }}[`${currentYear - 2}`] || 0],
                      [`${currentYear - 1}`, failuresInYearRows_{{ shelfProps.id }}[`${currentYear - 1}`] || 0],
                      [currentYear, failuresInYearRows_{{ shelfProps.id }}[currentYear] || 0]
                    ])

                  let failuresInYearChart_{{ shelfProps.id }} = new google.visualization.PieChart(document.getElementById('failuresInYearGraph_{{ shelfProps.id }}'))
                  failuresInYearChart_{{ shelfProps.id }}.draw(failuresInYearData_{{ shelfProps.id }}, failuresInYearOptions)
                {% endif %}
              {% endfor %}
            {% endwith %}
          {% endwith %}
        {% endfor %}
      }

      $(window).resize(function() { drawCharts() })


      {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
      function handleNewDataSuccess (result) {
        console.log('success')
        location.reload()
      }

      function handleNewDataResultHandler (result) { genericResultHandler(result, handleNewDataSuccess)}

      function handleNewData(shelfElemId) {
        const data = {
          storeElem_id: shelfElemId,
          day: document.getElementById(`stat_${shelfElemId}_day`).value,
          sold_count: document.getElementById(`stat_${shelfElemId}_sold_count`).value,
          stock_id: document.getElementById(`stat_${shelfElemId}_stock_id`).value,
          failures_count: document.getElementById(`stat_${shelfElemId}_failures_count`).value,
          price_that_day: document.getElementById(`stat_${shelfElemId}_price_that_day`).value
        }
        ajaxRequest(url, "handleNewData", data, handleNewDataResultHandler)
      }
      {% endif %}
    </script>

    <div class="container-md">
      {% for fullStatsForSingleShelf in fullStatsForEachShelf %}
        {% with fullStatsForSingleShelf|first as shelfProps %}
          {% with fullStatsForSingleShelf|last as shelfStats %}
            <button class="btn btn-success btn-block" style="pointer-events: none;">Секция: {{ shelfProps.section_name }}, полка: {{ shelfProps.shelf_name }}</button>
              <div class="card card-body">
                <div class="row">
                  {% for statsName, stats in shelfStats.items %}
                    {% if statsName == "soldEveryDay" %}
                      <div class="col-md-4" style="margin: 0 auto;">
                        <b><div class="my-2" align="center" id="soldEveryDayGraph_{{ shelfProps.id }}"></div></b>
                      </div>
                    {% endif %}
                    {% if statsName == "incomeEveryDay" %}
                      <div class="col-md-4" style="margin: 0 auto;">
                        <b><div class="my-2" align="center" id="incomeEveryDayGraph_{{ shelfProps.id }}"></div></b>
                      </div>
                    {% endif %}
                    {% if statsName == "failuresInYear" %}
                      <div class="col-md-4" style="margin: 0 auto;">
                        <b><div class="my-2" align="center" id="failuresInYearGraph_{{ shelfProps.id }}"></div></b>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                  <p><b>Добавить данные:</b></p>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="product-name" class="font-weight-bold">Дата: </label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control input-sm" placeholder="Пример: 2020/01/13" value="" id="stat_{{ shelfProps.id }}_day">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="product-name" class="font-weight-bold">Количество проданных товаров: </label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control input-sm" value="0" id="stat_{{ shelfProps.id }}_sold_count">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="product-name" class="font-weight-bold">Идентификатор акции (опционально): </label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control input-sm" value="" id="stat_{{ shelfProps.id }}_stock_id">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="product-name" class="font-weight-bold">Количество ошибок: </label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control input-sm" value="0" id="stat_{{ shelfProps.id }}_failures_count">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="product-name" class="font-weight-bold">Цена продукта в этот день: </label>
                      <div class="input-group mb-1">
                        <input type="text" class="form-control input-sm" value="0.0" id="stat_{{ shelfProps.id }}_price_that_day">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="product-name" class="font-weight-bold"></label>
                      <div class="input-group mt-2">
                        <button type="button" class="btn btn-primary btn-block" onclick="handleNewData('{{ shelfProps.id }}')">Добавить</button>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
