{% load static %}
{% load auth_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}АСУППС{% endblock title %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body style="background-color: rgb(250, 250, 250);">
  {% block header %}
    <nav class="navbar navbar-expand navbar-light fixed-top" style="background-color: white; font-family: Roboto, sans-serif;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ home_is_active|default:"" }}">
            <a class="nav-link" href="/">Домашняя <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated %}
            {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
              <li class="nav-item {{ products_is_active|default:"" }}">
                <a class="nav-link" href="/products">Продукты</span></a>
              </li>
            {% endif %}
            <li class="nav-item {{ store_is_active|default:"" }}">
              <a class="nav-link" href="/store">Магазин</span></a>
            </li>
            <li class="nav-item {{ storage_is_active|default:"" }}">
              <a class="nav-link" href="/storage">Склад</span></a>
            </li>
            <li class="nav-item {{ failures_is_active|default:"" }}">
              <a class="nav-link" href="/failures">Задачи</span></a>
            </li>
          {% endif %}
          <li class="nav-item {{ about_is_active|default:"" }}">
            <a class="nav-link" href="/about">О&nbsp;нас</span></a>
          </li>
          <li class="nav-item {{ contact_is_active|default:"" }}">
            <a class="nav-link" href="/contact">Контакты</span></a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text">Привет, </span>
            </li>
            <li class="nav-item ">
              <a class="nav-link {{ profile_is_active|default:"" }}" href="/profile">{{ user.get_username }}!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Выйти</a>
            </li>
          {% else %}
            <li class="nav-item {{ form.login_is_active|default:"" }}">
              <a class="nav-link" href="/login">Войти</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  {% endblock header %}

  <main role="main" class="container">
    {% block errorContent %}
      {% if not user.is_authenticated %}
        <div class="jumbotron border">
          <h3 class="text-center" style="color: red;">Выполните вход, чтобы полностью видеть эту страницу.</h3>
        </div>
      {% endif %}
    {% endblock errorContent %}

    {% block content %}{% endblock content %}
    <br>
  </main>
</body>

</html>
