{% load static %}
{% load auth_filter %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block title %}АСУППС{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body background="{% static 'images/background.png' %}">
  {% block header %}
  <header class="header">
    <div class="center width">
      <table>
        <tr>
          <td width="100%">
            <nav class="navigation">
              <ul class="navigation__list navigation__list--inline">
                <li class="{{ home_is_active|default:"nav_item" }}"><a href="/">Домашняя</a></li>
                {% if user.is_authenticated %}
                  <li class="{{ store_is_active|default:"nav_item" }}"><a href="/store">Магазин</a></li>
                  <li class="{{ storage_is_active|default:"nav_item" }}"><a href="/storage">Склад</a></li>
                  {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                    <!-- <li class="nav_item"><a href="/transportations" {{ transportations_is_active|default:"" }}>Transportations</a></li> -->
                  {% endif %}
                {% endif %}
                <li class="{{ about_is_active|default:"nav_item" }}"><a href="/about">О нас</a></li>
                <li class="{{ contact_is_active|default:"nav_item" }}"><a href="/contact" >Контакты</a></li>
              </ul>
            </nav>
          </td>
          <td width="100%">
            <nav class="navigation">
              <ul class="navigation__list navigation__list--inline auth-area">
                {% if user.is_authenticated %}
                  <li class="greeting">Привет, {{ user.get_username }}!</li>
                  <li class="nav_item"><a href="/logout">Выйти</a></li>
                {% else %}
                  <li class="{{ form.login_is_active|default:"nav_item" }}"><a href="/login">Войти</a></li>
                {% endif %}
              </ul>
            </nav>
          </td>
        </tr>
      </table>
    </div>
  </header>
  {% endblock header %}
  <div class="center width">{% block content %}{% endblock content %}</div>
</body>

</html>
