{% extends "base.html" %}
{% load static %}
{% load auth_filter %}

{% block title %}Задачи{% endblock title %}

{% block content %}

  {% if user.is_authenticated %}
    <script src="{% static 'js/helpers.js'%}" type="text/javascript">
      /*
        Available funcitons in helpers.js:
        * ajaxRequest (url, action, payload, resultHandler)
        * ajaxRequestFile (url, data, resultHandler)
        * genericResultHandler (result, successHandler, failureHandler)
      */
    </script>
    <script type="text/javascript">
      const url = '{% url "failures" %}'

      {% if not request.user.profile.group == "P" %}
      const availableUsers = '{{ availableUsers }}'

      function assignTaskSuccess (result) {
        console.log('success')

        const assigneeId = Object.keys(result.availableUsers).find(userId => result.availableUsers[userId].profile_id == result.assignee_id) || {}
        const assignee = result.availableUsers[assigneeId]
        const assignButtonRowDOM = document.getElementById(`assignButtonRow_${result.id}`)
        const assignButtonColDOM = document.getElementById(`assignButtonCol_${result.id}`)
        assignButtonColDOM.innerHTML = `<b>Владелец задачи: </b>${assignee.last_name} ${assignee.first_name}`
        const failureCodeRowDOM = document.getElementById(`failureCodeRow_${result.id}`)
        const reassignButtonColDOM = document.createElement('div')
        reassignButtonColDOM.classList.add('col-md-4')
        reassignButtonColDOM.id = `reassignButtonCol_${result.id}`
        let dropdownHTML = `
          <div class="dropdown" id="parentDropdown_${result.id}">
            <button class="btn-sm btn-block btn-primary dropdown-toggle" type="button" id="assign_${result.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Переназначить задачу</button>
            <div class="dropdown-menu" aria-labelledby="assign_${result.id}">`
        Object.keys(result.availableUsers).forEach(userId => {
          const nextUser = result.availableUsers[userId]
          if (nextUser.group === 'P' && nextUser.profile_id != result.assignee_id) {
            dropdownHTML += `
              <a class="dropdown-item" onclick="reassignTask('${result.id}', '${nextUser.profile_id}')">${nextUser.last_name} ${nextUser.first_name}</a>`
          }
        })
        dropdownHTML += `
              <a class="dropdown-item" onclick="reassignTask('${result.id}')">Убрать владельца</a>
              <a class="dropdown-item" onclick="solveAssignedTask('${result.id}')">Отметить как решенную</a>
            </div>
          </div>`
        reassignButtonColDOM.innerHTML = dropdownHTML
        failureCodeRowDOM.appendChild(reassignButtonColDOM)
      }

      function assignTaskResultHandler (result) { genericResultHandler(result, assignTaskSuccess) }

      function assignTask (taskId, profileId) {
        const data = {
          task_id: taskId,
          assignee_id: profileId
        }
        ajaxRequest(url, "assignTask", data, assignTaskResultHandler)
      }


      function reassignTaskSuccess (result) {
        console.log('success')

        const assigneeId = Object.keys(result.availableUsers).find(userId => result.availableUsers[userId].profile_id == result.assignee_id) || {}
        const assignee = result.availableUsers[assigneeId]
        const assignButtonRowDOM = document.getElementById(`assignButtonRow_${result.id}`)
        const assignButtonColDOM = document.getElementById(`assignButtonCol_${result.id}`)
        if (assignee) {
          assignButtonColDOM.innerHTML = `<b>Владелец задачи: </b>${assignee.last_name} ${assignee.first_name}`
          let dropdownInnerHTML = `
            <button class="btn-sm btn-block btn-primary dropdown-toggle" type="button" id="assign_${result.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Переназначить задачу</button>
            <div class="dropdown-menu" aria-labelledby="assign_${result.id}">`
          Object.keys(result.availableUsers).forEach(userId => {
            const nextUser = result.availableUsers[userId]
            if (nextUser.group === 'P' && nextUser.profile_id != result.assignee_id) {
              dropdownInnerHTML += `
              <a class="dropdown-item" onclick="reassignTask('${result.id}', '${nextUser.profile_id}')">${nextUser.last_name} ${nextUser.first_name}</a>`
            }
          })
          dropdownInnerHTML += `
              <a class="dropdown-item" onclick="reassignTask('${result.id}')">Убрать владельца</a>
              <a class="dropdown-item" onclick="solveAssignedTask('${result.id}')">Отметить как решенную</a>
            </div>`
          const dropdown = document.getElementById(`parentDropdown_${result.id}`)
          dropdown.innerHTML = dropdownInnerHTML
        } else {
          assignButtonColInnerHTML = `
            <div class="dropdown" id="parentDropdown_${result.id}">
              <button class="btn-sm btn-block btn-primary dropdown-toggle" type="button" id="assign_${result.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Назначить задачу</button>
              <div class="dropdown-menu" aria-labelledby="assign_${result.id}">`
          Object.keys(result.availableUsers).forEach(userId => {
            const nextUser = result.availableUsers[userId]
            if (nextUser.group === 'P') {
              assignButtonColInnerHTML += `
                <a class="dropdown-item" onclick="assignTask('${result.id}', '${nextUser.profile_id}')">${nextUser.last_name} ${nextUser.first_name}</a>`
            }
          })
          assignButtonColInnerHTML += `
                <a class="dropdown-item" onclick="solveTask('${result.id}')">Отметить как решенную</a>
              </div>
            </div>`
          assignButtonColDOM.innerHTML = assignButtonColInnerHTML
          const reassignButtonColDOM = document.getElementById(`reassignButtonCol_${result.id}`)
          reassignButtonColDOM.remove()
        }
      }

      function reassignTaskResultHandler (result) { genericResultHandler(result, reassignTaskSuccess) }

      function reassignTask (taskId, profileId = "") {
        const data = {
          task_id: taskId,
          assignee_id: profileId
        }
        ajaxRequest(url, "assignTask", data, reassignTaskResultHandler)
      }
      {% endif %}


      function solveTaskSuccess (result) {
        console.log('success')

        const statusDOM = document.getElementById(`status_${result.id}`)
        statusDOM.color = "green"
        statusDOM.innerHTML = "решена"

        const assigneeId = Object.keys(result.availableUsers).find(userId => result.availableUsers[userId].profile_id == result.assignee_id) || {}
        const assignee = result.availableUsers[assigneeId]
        const assignButtonColDOM = document.getElementById(`assignButtonCol_${result.id}`)
        assignButtonColDOM.innerHTML = assignee
          ? `<b>Владелец задачи: </b>${assignee.last_name} ${assignee.first_name}`
          : '<b>Владелец задачи: </b>не назначен'

        const taskButtonDOM = document.getElementById(`taskButton_${result.id}`)
        taskButtonDOM.classList.remove('btn-danger')
        taskButtonDOM.classList.add('btn-success')

        const reassignButtonColDOM = document.getElementById(`reassignButtonCol_${result.id}`)
        if (reassignButtonColDOM) reassignButtonColDOM.remove()

        const taskButtonRowDOM = document.getElementById(`taskButtonRow_${result.id}`)
        const taskButtonDropdownDOM = document.getElementById(`taskButtonDropdown_${result.id}`)

        const solvedTasksDOM = document.getElementById(`solvedTasks`)
        solvedTasksDOM.appendChild(taskButtonRowDOM)
        solvedTasksDOM.appendChild(taskButtonDropdownDOM)

        const noSolvedDOM = document.getElementById(`noSolved`)
        if (noSolvedDOM) noSolvedDOM.remove()
        const unsolvedTasksDOM = document.getElementById(`unsolvedTasks`)
        if (unsolvedTasks.childElementCount == 0) unsolvedTasks.innerHTML = `
          <div class="row" id="noUnsolved">
            <div class="col-md-12">
              <h3 class="text-center" style="color: red;">Нет нерешенных задач</h3>
            </div>
          </div>`
      }

      function solveTaskResultHandler (result) { genericResultHandler(result, solveTaskSuccess) }

      function solveTask (taskId) {
        const data = { task_id: taskId }
        ajaxRequest(url, "solveTask", data, solveTaskResultHandler)
      }
    </script>
    <div class="jumbotron border">
      <div class="row mt-3">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#unsolvedTasks" aria-expanded="false" aria-controls="unsolvedTasks">Нерешенные задачи</button>
        </div>
      </div>
      <div class="container-md">
        {% if unsolvedTasks %}
          <div class="row mt-3">
            <div class="col">
              <div class="collapse multi-collapse" id="unsolvedTasks">
                {% for task in unsolvedTasks %}
                  <div class="row" id="taskButtonRow_{{ task.id }}">
                    <div class="col-md-12">
                      <button class="btn btn-danger btn-block" type="button" data-toggle="collapse" data-target="#task_{{ task.id }}" aria-expanded="false" aria-controls="task_{{ task.id }}" id="taskButton_{{ task.id }}">{{ task.text }}</button>
                    </div>
                  </div>
                  <div class="row my-2" id="taskButtonDropdown_{{ task.id }}">
                    <div class="col">
                      <div class="collapse multi-collapse" id="task_{{ task.id }}">
                        <div class="row">
                          <div class="col-md-8"><b>Возможная причина: </b>{{ task.possible_cause }}</div>
                          <div class="col-md-4">
                            <b>Серьезность ошибки: </b>
                            {% if unassignedTask.severity < 2 %}
                              <font color=green><b>{{ task.severity }}</b></font>
                            {% elif unassignedTask.severity < 4 %}
                              <font color=orange><b>{{ task.severity }}</b></font>
                            {% else %}
                              <font color=red><b>{{ task.severity }}</b></font>
                            {% endif %}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-8"><b>Возможное решение: </b>{{ task.possible_solution}}</div>
                          <div class="col-md-4"><b>Статус: <font color=red  id="status_{{ task.id }}">не решена</font></b></div>
                        </div>
                        {% if task.assignee %}
                          <div class="row" id="assignButtonRow_{{ task.id }}">
                            <div class="col-md-8"><b>Дата возникновения: </b>{{ task.timestamp }}</div>
                            {% for user in availableUsers %}
                              {% if user.profile == task.assignee %}
                                <div class="col-md-4" id="assignButtonCol_{{ task.id }}"><b>Владелец задачи: </b>{{ user.last_name }} {{ user.first_name }}</div>
                              {% endif %}
                            {% endfor %}
                          </div>
                          <div class="row" id="failureCodeRow_{{ task.id }}">
                            {% if task.stack_trace %}
                              <div class="col-md-8"><b>Код, который привел к ошибке: </b><br>{{ task.stack_trace }}</div>
                            {% else %}
                              <div class="col-md-8"></div>
                            {% endif %}
                            {% if not request.user.profile.group == "P" %}
                              <div class="col-md-4" id="reassignButtonCol_{{ task.id }}">
                                <div class="dropdown" id="parentDropdown_{{ task.id }}">
                                  <button class="btn-sm btn-block btn-primary dropdown-toggle" type="button" id="assign_{{ task.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Переназначить задачу</button>
                                  <div class="dropdown-menu" aria-labelledby="assign_{{ task.id }}">
                                    {% for user in availableUsers %}
                                      {% if user.profile.group == "P" and not user.profile == task.assignee %}
                                        <a class="dropdown-item" onclick="reassignTask('{{ task.id }}', '{{ user.profile.id }}')">{{ user.last_name }} {{ user.first_name }}</a>
                                      {% endif %}
                                    {% endfor %}
                                    <a class="dropdown-item" onclick="reassignTask('{{ task.id }}')">Убрать владельца</a>
                                    <a class="dropdown-item" onclick="solveTask('{{ task.id }}')">Отметить как решенную</a>
                                  </div>
                                </div>
                              </div>
                            {% else %}
                              <div class="col-md-4" id="reassignButtonCol_{{ task.id }}">
                                <button class="btn-sm btn-block btn-primary" type="button" onclick="solveTask('{{ task.id }}')">Отметить как решенную</button>
                              </div>
                            {% endif %}
                          </div>
                        {% else %}
                          <div class="row" id="assignButtonRow_{{ task.id }}">
                            <div class="col-md-8"><b>Дата возникновения: </b>{{ task.timestamp }}</div>
                            <div class="col-md-4" id="assignButtonCol_{{ task.id }}">
                              <div class="dropdown" id="parentDropdown_{{ task.id }}">
                                <button class="btn-sm btn-block btn-primary dropdown-toggle" type="button" id="assign_{{ task.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Назначить задачу</button>
                                <div class="dropdown-menu" aria-labelledby="assign_{{ task.id }}">
                                  {% for user in availableUsers %}
                                    {% if user.profile.group == "P" %}
                                      <a class="dropdown-item" onclick="assignTask('{{ task.id }}', '{{ user.profile.id }}')">{{ user.last_name }} {{ user.first_name }}</a>
                                    {% endif %}
                                  {% endfor %}
                                  <a class="dropdown-item" onclick="solveTask('{{ task.id }}')">Отметить как решенную</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" id="failureCodeRow_{{ task.id }}">
                            {% if task.stack_trace %}
                              <div class="col-md-8"><b>Код, который привел к ошибке: </b><br>{{ task.stack_trace }}</div>
                            {% else %}
                              <div class="col-md-8"></div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
          <div class="row mt-3">
            <div class="col">
              <div class="collapse multi-collapse" id="unsolvedTasks">
                <div class="row" id="noUnsolved">
                  <div class="col-md-12">
                    <h3 class="text-center" style="color: red;">Нет нерешенных задач</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#solvedTasks" aria-expanded="false" aria-controls="solvedTasks">Решенные задачи</button>
        </div>
      </div>
      <div class="container-md">
        {% if solvedTasks %}
          <div class="row mt-3">
            <div class="col">
              <div class="collapse multi-collapse" id="solvedTasks">
                {% for task in solvedTasks %}
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-success btn-block" type="button" data-toggle="collapse" data-target="#task_{{ task.id }}" aria-expanded="false" aria-controls="task_{{ task.id }}">{{ task.text }}</button>
                    </div>
                  </div>
                  <div class="row my-2">
                    <div class="col">
                      <div class="collapse multi-collapse" id="task_{{ task.id }}">
                        <div class="row">
                          <div class="col-md-8"><b>Возможная причина: </b>{{ task.possible_cause }}</div>
                          <div class="col-md-4">
                            <b>Серьезность ошибки: </b>
                            {% if unassignedTask.severity < 2 %}
                              <font color=green><b>{{ task.severity }}</b></font>
                            {% elif unassignedTask.severity < 4 %}
                              <font color=orange><b>{{ task.severity }}</b></font>
                            {% else %}
                              <font color=red><b>{{ task.severity }}</b></font>
                            {% endif %}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-8"><b>Возможное решение: </b>{{ task.possible_solution }}</div>
                          <div class="col-md-4"><b>Статус: <font color=green id="status_{{ task.id }}">решена</font></b></div>
                        </div>
                        <div class="row" id="assignButtonRow_{{ task.id }}">
                          <div class="col-md-8"><b>Дата возникновения: </b>{{ task.timestamp }}</div>
                          {% if task.assignee %}
                            {% for user in availableUsers %}
                              {% if user.profile == task.assignee %}
                                <div class="col-md-4"><b>Владелец задачи: </b>{{ user.last_name }} {{ user.first_name }}</div>
                              {% endif %}
                            {% endfor %}
                          {% else %}
                            <div class="col-md-4" id="assignButtonCol_{{ task.id }}"><b>Владелец задачи: </b>не назначен</div>
                          {% endif %}
                        </div>
                        <div class="row" id="failureCodeRow_{{ task.id }}">
                          {% if task.stack_trace %}
                            <div class="col-md-8"><b>Код, который привел к ошибке: </b><br>{{ task.stack_trace }}</div>
                          {% else %}
                            <div class="col-md-8"></div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
          <div class="row mt-3">
            <div class="col">
              <div class="collapse multi-collapse" id="solvedTasks">
                <div class="row" id="noSolved">
                  <div class="col-md-12">
                    <h3 class="text-center" style="color: red;">Нет решенных задач</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock content %}
