{% extends "base.html" %}
{% load static %}
{% load auth_filter %}
{% block title %}Домашняя{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="jumbotron border">
      <h1 style="text-align: center;">Добро пожаловать в автоматизированную систему управления полочным пространством супермаркета!</h1>
    </div>
  {% endif %}

  <div class="card mb-5 card-content-oversize-defense">
    <img class="card-img-top card-img-oversize-defense" src="{% static 'images/home_1.png' %}" style="opacity: 0.1;">
    <div class="card-img-overlay">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="text-center">Просматривайте и изменяйте количество товаров на полках, а также меняйте параметры полок (для менеджера)</h1>
            {% if user.is_authenticated %}
              <br>
              <a class="btn btn-warning btn-lg btn-block" href="/store">Перейти в магазин</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5 card-content-oversize-defense">
    <img class="card-img-top card-img-oversize-defense" src="{% static 'images/home_2.png' %}" style="opacity: 0.1;">
    <div class="card-img-overlay">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="text-center">Управляйте продуктами на складе: меняйте количество товаров на складе (для менеджера), добавляйте новые поставленные товары</h1>
            {% if user.is_authenticated %}
              <br>
              <a class="btn btn-warning btn-lg btn-block" href="/storage">Перейти на склад</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5 card-content-oversize-defense">
    <img class="card-img-top card-img-oversize-defense" src="{% static 'images/home_3.png' %}" style="opacity: 0.1;">
    <div class="card-img-overlay">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="text-center">Просматривайте назначенные полки и задания, а также управляйте ими</h1>
            {% if user.is_authenticated %}
              <br>
              <a class="btn btn-warning btn-lg btn-block" href="/profile">Перейти в профиль</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5 card-content-oversize-defense">
    <img class="card-img-top card-img-oversize-defense" src="{% static 'images/home_4.png' %}" style="opacity: 0.1;">
    <div class="card-img-overlay">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="text-center">Изучайте статистику, собранную во время работы системы, а также добавляйте статистические данные (для менеджера)</h1>
            {% if user.is_authenticated %}
              <br>
              <a class="btn btn-warning btn-lg btn-block" href="/analytics">Перейти к аналитике</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5 card-content-oversize-defense">
    <img class="card-img-top card-img-oversize-defense" src="{% static 'images/home_5.png' %}" style="opacity: 0.1;">
    <div class="card-img-overlay">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col">
            <h1 class="text-center">Управляйте продуктами с помощью удобного web-интерфейса (для менеджера)</h1>
            {% if user.is_authenticated %}
              {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                <br>
                <a class="btn btn-warning btn-lg btn-block" href="/products">Управление продуктами</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
