{% extends "base.html" %}
{% load static %}
{% load auth_filter %}

{% block title %}Продукты{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
      <script src="{% static 'js/helpers.js'%}" type="text/javascript">
        /*
          Available funcitons in helpers.js:
          * ajaxRequest (url, action, payload, resultHandler)
          * ajaxRequestFile (url, data, resultHandler)
          * genericResultHandler (result, successHandler, failureHandler)
        */
      </script>
      <script type="text/javascript">
        const url = '{% url "products" %}'

        function changeImageResultHandler (result) {
          genericResultHandler(result, changeImageSuccess, changeImageFailure)
        }


        function changeImageSuccess (result) {
          console.log('success')
          const productImageDOM = document.getElementById(`product_${result.id}_image`)
          productImageDOM.src = '/static/images/' + result.name + "?" + new Date().now
        }


        function changeImageFailure (result) { console.log('failure') }


        function changeImage (productId) {
          const productImageDOM = document.getElementById(`${productId}_image`)
          const productImageFileDOM = document.getElementById(`${productId}_imageFile`)

          productImageFileDOM.onchange = (event) => {
            const formData = new FormData()
            formData.append('action', 'changeImage')
            formData.append('product_id', productId.split('_')[1])
            formData.append('img', event.target.files[0])
            const data = formData
            ajaxRequestFile(url, data, changeImageResultHandler)
          }
          productImageFileDOM.click()
        }


        function saveChangesSuccess (result) {
          console.log('success')
          const productNameDOM = document.getElementById(`product_${result.id}_name`)
          const productPriceDOM = document.getElementById(`product_${result.id}_price`)
          const productDigitCodeDOM = document.getElementById(`product_${result.id}_digitCode`)
          const productShelfLifeDOM = document.getElementById(`product_${result.id}_shelfLife`)
          const productWidthDOM = document.getElementById(`product_${result.id}_width`)
          const productHeightDOM = document.getElementById(`product_${result.id}_height`)
          const productLengthDOM = document.getElementById(`product_${result.id}_length`)
          const productWeightDOM = document.getElementById(`product_${result.id}_weight`)
          const productStackableDOM = document.getElementById(`product_${result.id}_stackable`)

          productNameDOM.value = result.name
          productPriceDOM.value = result.price
          productDigitCodeDOM.value = result.digit_code
          productShelfLifeDOM.value = result.shelf_life
          productWidthDOM.value = result.width
          productHeightDOM.value = result.height
          productLengthDOM.value = result.length
          productWeightDOM.value = result.weight
          productStackableDOM.value = result.stackable == 'True' ? 'Да' : 'Нет'
        }


        function saveChangesFailure (result) { console.log(`failure: ${result}`) }


        function saveChangesResultHandler (result) { genericResultHandler(result, saveChangesSuccess, saveChangesFailure)}


        function saveChanges (productId) {
          const productNameDOM = document.getElementById(`product_${productId}_name`)
          const productPriceDOM = document.getElementById(`product_${productId}_price`)
          const productDigitCodeDOM = document.getElementById(`product_${productId}_digitCode`)
          const productShelfLifeDOM = document.getElementById(`product_${productId}_shelfLife`)
          const productWidthDOM = document.getElementById(`product_${productId}_width`)
          const productHeightDOM = document.getElementById(`product_${productId}_height`)
          const productLengthDOM = document.getElementById(`product_${productId}_length`)
          const productWeightDOM = document.getElementById(`product_${productId}_weight`)
          const productStackableDOM = document.getElementById(`product_${productId}_stackable`)

          const data = {
            product_id: productId,
            name: productNameDOM.value,
            price: productPriceDOM.value,
            digitCode: productDigitCodeDOM.value,
            shelfLife: productShelfLifeDOM.value,
            width: productWidthDOM.value,
            height: productHeightDOM.value,
            length: productLengthDOM.value,
            weight: productWeightDOM.value,
            stackable: productStackableDOM.value
          }

          ajaxRequest(url, "saveChanges", data, saveChangesResultHandler)
        }


        function removeProductSuccess (result) {
          console.log('success')
          console.log(result)
          const cardDOM = document.getElementById(`product_${result.id}_card`)
          cardDOM.remove()
        }


        function removeProductFailure (result) { console.log(`failure: ${result}`) }


        function removeProductResultHandler (result) { genericResultHandler(result, removeProductSuccess, removeProductFailure )}


        function removeProduct (productId) {
          const cardDOM = document.getElementById(`product_${productId}_card`)

          const data = { product_id: productId }

          ajaxRequest(url, "removeProduct", data, removeProductResultHandler)
        }


        function addProductCardSuccess (result) {
          console.log('success')
          const productsParentDOM = document.getElementById('productsParent')
          const productsParentLastCardDOM = productsParentDOM.lastChild.previousElementSibling
          const newProductCard = document.createElement('div')
          newProductCard.classList.add("col-md-4", "my-3", "border", "border-info", "bg-white")
          newProductCard.id = `product_${result.id}_card`
          newProductCard.innerHTML = `
            <div class="row mt-3">
              <div class="col">
                <input type="image" src="/static/images/no_image.png" onerror="this.onerror=null;this.src='/static/images/no_image.png'" class="img-fluid" style="height: 168px !important;" id="product_${result.id}_image" onclick="changeImage('product_${result.id}')">
                <input type="file" id="product_${result.id}_imageFile" style="display: none;">
              </div>
              <div class="col">
                <label for="product_${result.id}_name" class="font-weight-bold">Продукт: </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_name" class="form-control input-sm" value="${result.name}">
                </div>
                <label for="product_${result.id}_price" class="font-weight-bold">Цена ($): </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_price" class="form-control input-sm" value="${result.price}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="product_${result.id}_digitCode" class="font-weight-bold">Код: </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_digitCode" class="form-control input-sm" placeholder="Формат: xxxxx-xxxx" value="${result.digit_code}">
                </div>
                <label for="product_${result.id}_shelfLife" class="font-weight-bold">Срок годности (дни): </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_shelfLife" class="form-control input-sm" value="${result.shelf_life}">
                </div>
                <label for="product_${result.id}_width" class="font-weight-bold">Ширина (мм): </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_width" class="form-control input-sm" value="${result.width}">
                </div>
                <label for="product_${result.id}_height" class="font-weight-bold">Высота (мм): </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_height" class="form-control input-sm" value="${result.height}">
                </div>
                <label for="product_${result.id}_length" class="font-weight-bold">Длина (мм): </label>
                <div class="input-group mb-1">
                  <input type=text id="product_${result.id}_length" class="form-control input-sm" value="${result.length}">
                </div>
                <label for="product_${result.id}_weight" class="font-weight-bold">Вес единицы продажи (г): </label>
                <div class="input-group mb-2">
                  <input type=text id="product_${result.id}_weight" class="form-control input-sm" value="${result.weight}">
                </div>
                <label for="product_${result.id}_stackable" class="font-weight-bold">Складируемый: </label>
                <div class="input-group mb-2">
                  <input type=text id="product_${result.id}_stackable" class="form-control input-sm" value="{% if product.stackable %}Да{% else %}Нет{% endif %}">
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <button type="button" class="btn btn-primary btn-sm btn-block" onclick="saveChanges('${result.id}')">Сохранить<br>изменения</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger btn-sm btn-block" onclick="removeProduct('${result.id}')">Удалить<br>продукт</button>
              </div>
            </div>`
          productsParentDOM.insertBefore(newProductCard, productsParentLastCardDOM)
        }


        function addProductCardFailure (result) { console.log(`failure: ${result}`) }


        function addProductCardResultHandler (result) { genericResultHandler(result, addProductCardSuccess, addProductCardFailure)}


        function addProductCard () {
          ajaxRequest(url, "addProductCard", {}, addProductCardResultHandler)
        }
      </script>
      {% if rowsCount > 0 %}
        <div class="container-md">
          <div class="row" id="productsParent">
            {% for product in products %}
              <div class="col-md-4 my-3 border border-info bg-white" id="product_{{ product.id }}_card">
                <div class="row mt-3">
                  <div class="col">
                    {% with 'images/'|add:product.name|add:'.png' as image_static %}
                      <input type="image" src="{% static image_static %}" onerror="this.onerror=null;this.src='/static/images/no_image.png'" class="img-fluid" style="height: 168px !important;" id="product_{{ product.id }}_image" onclick="changeImage('product_{{ product.id }}')">
                      <input type="file" id="product_{{ product.id }}_imageFile" style="display: none;">
                    {% endwith %}
                  </div>
                  <div class="col">
                    <label for="product_{{ product.id }}_name" class="font-weight-bold">Продукт: </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_name" class="form-control input-sm" value="{{ product.name }}">
                    </div>
                    <label for="product_{{ product.id }}_price" class="font-weight-bold">Цена ($): </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_price" class="form-control input-sm" value="{{ product.price }}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="product_{{ product.id }}_digitCode" class="font-weight-bold">Код: </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_digitCode" class="form-control input-sm" placeholder="Формат: xxxxx-xxxx" value="{{ product.digit_code }}">
                    </div>
                    <label for="product_{{ product.id }}_shelfLife" class="font-weight-bold">Срок годности (дни): </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_shelfLife" class="form-control input-sm" value="{{ product.shelf_life }}">
                    </div>
                    <label for="product_{{ product.id }}_width" class="font-weight-bold">Ширина (мм): </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_width" class="form-control input-sm" value="{{ product.width }}">
                    </div>
                    <label for="product_{{ product.id }}_height" class="font-weight-bold">Высота (мм): </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_height" class="form-control input-sm" value="{{ product.height }}">
                    </div>
                    <label for="product_{{ product.id }}_length" class="font-weight-bold">Длина (мм): </label>
                    <div class="input-group mb-1">
                      <input type=text id="product_{{ product.id }}_length" class="form-control input-sm" value="{{ product.length }}">
                    </div>
                    <label for="product_{{ product.id }}_weight" class="font-weight-bold">Вес единицы продажи (г): </label>
                    <div class="input-group mb-2">
                      <input type=text id="product_{{ product.id }}_weight" class="form-control input-sm" value="{{ product.weight }}">
                    </div>
                    <label for="product_{{ product.id }}_stackable" class="font-weight-bold">Складируемый: </label>
                    <div class="input-group mb-2">
                      <input type=text id="product_{{ product.id }}_stackable" class="form-control input-sm" value="{% if product.stackable %}Да{% else %}Нет{% endif %}">
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary btn-sm btn-block" onclick="saveChanges('{{ product.id }}')">Сохранить<br>изменения</button>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-danger btn-sm btn-block" onclick="removeProduct('{{ product.id }}')">Удалить<br>продукт</button>
                  </div>
                </div>
              </div>
            {% endfor %}
            <a class="col-md-4 my-3 border border-info bg-light d-flex flex-wrap align-items-center justify-content-center" onclick="addProductCard()">
              <img src="{% static 'images/plus.png' %}" class="img-fluid" style="height: 200px !important;">
            </a>
          </div>
        </div>
      {% else %}
        <div class="container-md">
          <div class="row" id="productsParent">
            <a class="col-md-4 my-3 border border-info bg-light d-flex flex-wrap align-items-center justify-content-center" onclick="addProductCard()">
              <img src="{% static 'images/plus.png' %}" class="img-fluid" style="height: 200px !important;">
            </a>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="jumbotron border">
        <h3 class="text-center" style="color: red;">Недостаточно прав для просмотра этой страницы.</h3>
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}
