            {% else %}
              {% if shelves %}
                {% if not request.user|has_group:'Management' and not request.user|has_group:'SystemAdministrators' %}
                  <p class="mb-2"><b>Назначенные полки:</b></p>
                {% endif %}
                {% for shelvesList in shelves %}
                  <div class="jumbotron my-1 px-3 py-1">
                    {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                      <div class="row mb-2">
                        <div class="col-md">
                          {% with shelvesList|first as firstShelf %}
                            {% for user in availableUsers %}
                              {% if user.profile == firstShelf.user %}
                                <b>Полки сотрудника {{ user.last_name }} {{ user.first_name }}:</b>
                              {% endif %}
                            {% endfor %}
                          {% endwith %}
                        </div>
                      </div>
                    {% endif %}
                    {% with shelvesList|first as firstShelf %}
                      {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                        <div class="row mb-2">
                          <div class="col-md">
                            {% for user in availableUsers %}
                              {% if user.profile == firstShelf.user %}
                                <b>Полки сотрудника {{ user.last_name }} {{ user.first_name }}:</b>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                      {% for shelf in shelvesList %}
                        <div class="row">
                          <div class="col-md">
                            <div class="row">
                              <div class="col-md-12">
                                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#shelf_{{ shelf.id }}" aria-expanded="false" aria-controls="shelf_{{ shelf.id }}">{{ shelf.shelf_name }}</button>
                              </div>
                            </div>
                            <div class="row my-2">
                              <div class="col">
                                <div class="collapse multi-collapse" id="shelf_{{ shelf.id }}">
                                  <div class="row">
                                    <div class="col-md-4"><b>Секция: </b>{{ shelf.section_name }}</div>
                                    <div class="col-md-4"><b>Количество продуктов: </b>{{ shelf.product_count }}</div>
                                    {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                                      <div class="col-md-4">
                                        <div class="dropdown">
                                          <button class="btn-sm btn-block btn-primary dropdown-toggle" type="button" id="assign_{{ shelf.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Переназначить ответственного</button>
                                          <div class="dropdown-menu" aria-labelledby="assign_{{ shelf.id }}">
                                            {% for user in availableUsers %}
                                              {% if user.profile.group == "P" and not user.profile == shelf.user %}
                                                <a class="dropdown-item" href="#">{{ user.last_name }} {{ user.first_name }}</a>
                                              {% endif %}
                                            {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% endwith %}
                  </div>
                {% endfor %}
              {% else %}
                <b>Назначенные полки: </b>нет назначенных полок.
              {% endif %}
            {% endif %}
