{% extends "base.html" %}
{% load static %}

{% block title %}Магазин{% endblock title %}

{% block content %}

  {% if user.is_authenticated %}
    {% for sectionSet in storeSections %}
      {% for section in sectionSet %}
        {{ section.product.name }}
      {% endfor %}
    {% endfor %}
    <div class="jumbotron border">
      <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#elemToCollapse" aria-expanded="false" aria-controls="elemToCollapse">Стеллаж 1</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="elemToCollapse">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
