{% extends "base.html" %}
{% load static %}
{% block title %}Storage{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h1 class='regular__item'>Storage</h1>
<table style='width: 100%; border: 2px solid'>
  <thead>
    <tr>
      <td style='border: 2px solid;'><b>Product</b></td>
      <td style='border: 2px solid;'><b>Amount</b></td>
      <td style='border: 2px solid;'><b>Last delivery</b></td>
      <td style='border: 2px solid;'><b>Image</b></td>
    </tr>
  </thead>
  <tbody>
    {% for product in products_in_storage %}
    <tr>
      <td style='border: 2px solid;'>{{ product.product_name }}</td>
      <td style='border: 2px solid;'>{{ product.product_count }}</td>
      <td style='border: 2px solid;'>{{ product.last_delivery }}</td>
      {% with 'images/'|add:product.image_name|add:'.png' as image_static %}
      <td style='border: 2px solid;'><img src="{% static image_static %}" height=100></td>
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1 class=' regular__item'>You are not authenticated to see this page</h1>
{% endif %}
{% endblock content %}
