{% extends "base.html" %}
{% load static %}
{% load auth_filter %}

{% block title %}Магазин{% endblock title %}

{% block content %}

  {% if user.is_authenticated %}
    <script src="{% static 'js/helpers.js'%}" type="text/javascript">
      /*
        Available funcitons in helpers.js:
        * ajaxRequest (url, action, payload, resultHandler)
        * ajaxRequestFile (url, data, resultHandler)
        * genericResultHandler (result, successHandler, failureHandler)
      */
    </script>
    <script type="text/javascript">
      const url = '{% url "store" %}'

      {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
      function saveProductsCountResultHandler (result) {
        genericResultHandler(result, saveProductsCountSuccess, saveProductsCountSuccess)
      }

      function saveProductsCountSuccess (result) {
        console.log('success')
        const productsCountDOM = document.getElementById(`store_${result.id}_productsCount`)
        productsCountDOM.value = `${result.product_count}`
        return false
      }

      function saveProductsCountFailure (result) {
        result
          ? console.log(`failure: ${result}`)
          : console.log('failure: количество элементов не может быть меньше нуля')
      }

      function saveProductsCount (storeElemId) {
        const productsCountDOM = document.getElementById(`store_${storeElemId}_productsCount`)

        if (productsCountDOM.value < 0) {
          saveProductsCountFailure()
          return
        }
        const data = {
          storeElem_id: storeElemId,
          productsCount: productsCountDOM.value
        }

        ajaxRequest(url, "saveProductsCount", data, saveProductsCountResultHandler)
      }


      function changeParamSuccess (result) {
        console.log('success')
        const outElem = document.getElementById(`store_${result.id}_${result.paramName}_out`)
        if (outElem) outElem.innerText = result[result.paramName]
        const outElem_1 = document.getElementById(`store_${result.id}_${result.paramName}_out_1`)
        if (outElem_1) outElem_1.innerText = result[result.paramName]
      }

      function changeParamResultHandler (result) { genericResultHandler(result, changeParamSuccess) }

      function changeParam (storeElemId, paramName) {
        const paramValue = document.getElementById(`store_${storeElemId}_${paramName}`).value
        const data = {
          storeElem_id: storeElemId,
          paramName,
          paramValue
        }

        ajaxRequest(url, "changeParam", data, changeParamResultHandler)
      }


      function removeShelfSuccess (result) {
        console.log('success')

        document.getElementById(`store_${result.id}_shelfNameRow`).remove()
        document.getElementById(`store_${result.id}_shelfButtonRow`).remove()
        document.getElementById(`store_${result.id}_shelfParamsTitleRow`).remove()
        document.getElementById(`store_${result.id}_shelfParamsRow`).remove()
        document.getElementById(`store_${result.id}_shelfInside`).remove()
      }

      function removeShelfResultHander (result) { genericResultHandler(result, removeShelfSuccess) }

      function removeShelf(shelfElemId) {
        const data = {
          shelfElem_id: shelfElemId
        }
        // removeShelfSuccess({id: shelfElemId})
        ajaxRequest(url, "removeShelf", data, removeShelfResultHander)
      }


      function removeSectionSuccess (result) {
        console.log('success')

        document.getElementById(`store_${result.id}_sectionNameRow`).remove()
        document.getElementById(`store_${result.id}_sectionButtonRow`).remove()
        document.getElementById(`store_${result.id}_sectionInside`).remove()
      }

      function removeSectionResultHandler (result) { genericResultHandler(result, removeSectionSuccess) }

      function removeSection (shelfElemId) {
        const data = {
          shelfElem_id: shelfElemId
        }
        ajaxRequest(url, "removeSection", data, removeSectionResultHandler)
      }


      function addSectionSuccess (result) {
        console.log('success')

        const newSectionId = 1 + result.id
        const newSectionName = result.newSectionName
        const sectionNameRowDOM = document.createElement('div')
        sectionNameRowDOM.classList.add('input-group', 'mb-3')
        sectionNameRowDOM.id = `store_${newSectionId}_sectionNameRow`
        sectionNameRowDOM.innerHTML = `
          <div class="input-group-prepend">
            <span class="input-group-text">Название секции: </span>
          </div>
          <input type="text" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon2" id="store_${newSectionId}_section_name" value="${newSectionName}">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" onclick="changeParam('${newSectionId}', 'section_name')">Сохранить</button>
          </div>`

        const sectionButtonRowDOM = document.createElement('div')
        sectionButtonRowDOM.classList.add('row')
        sectionButtonRowDOM.id = `store_${newSectionId}_sectionButtonRow`

        sectionButtonRowDOM.innerHTML = `
          <div class="col-md-12">
            <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#${newSectionName}_${newSectionId}" aria-expanded="false" aria-controls="${newSectionName}_${newSectionId}">Секция: <a id="store_${newSectionId}_section_name_out">${newSectionName}</a></button>
          </div>`

        const sectionInsideDOM = document.createElement('div')
        sectionInsideDOM.classList.add('row', 'mt-3')
        sectionInsideDOM.id = `store_${newSectionId}_sectionInside`
        sectionInsideDOM.innerHTML = `
          <div class="col">
            <div class="collapse multi-collapse" id="${newSectionName}_${newSectionId}">
              <div class="card card-body pb-0">
                <div class="row mb-3">
                  <div class="col-md-12">
                    <button class="btn btn-danger btn-block" type="button" onclick="removeSection('${newSectionId}')">Удалить секцию</button>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12">
                    <button class="btn btn-success btn-block" type="button" id="addShelfButton" onclick="addShelf('${newSectionId}')">Добавить полку</button>
                  </div>
                </div>
              </div>
            </div>
          </div>`

        const newLine = document.createElement('br')
        const addSectionButtonRowDOM = document.getElementById('addSectionButtonRow')
        addSectionButtonRowDOM.parentNode.insertBefore(newLine, addSectionButtonRowDOM.nextSibling)
        addSectionButtonRowDOM.parentNode.insertBefore(sectionInsideDOM, addSectionButtonRowDOM.nextSibling)
        addSectionButtonRowDOM.parentNode.insertBefore(sectionButtonRowDOM, addSectionButtonRowDOM.nextSibling)
        addSectionButtonRowDOM.parentNode.insertBefore(sectionNameRowDOM, addSectionButtonRowDOM.nextSibling)
      }

      function addSectionResultHandler (result) { genericResultHandler(result, addSectionSuccess) }

      function addSection () {
        ajaxRequest(url, "addSection", {}, addSectionResultHandler)
      }


      function addShelfSuccess (result) {
        console.log('success')

        const shelfNameRowDOM = document.createElement('div')
        shelfNameRowDOM.classList.add('input-group', 'mb-3', 'mt-4')
        shelfNameRowDOM.id = `store_${result.id}_shelfNameRow`
        shelfNameRowDOM.innerHTML = `
          <div class="input-group-prepend">
            <span class="input-group-text">Название полки: </span>
          </div>
          <input type="text" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon2" id="store_${result.id}_shelf_name" value="${result.shelf_name}">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" onclick="changeParam('${result.id}', 'shelf_name')">Сохранить</button>
          </div>`

        const shelfButtonRowDOM = document.createElement('div')
        shelfButtonRowDOM.classList.add('row')
        shelfButtonRowDOM.innerHTML = `
          <div class="col-md-12">
            <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#${result.shelf_name}_${result.id}" aria-expanded="false" aria-controls="${result.shelf_name}_${result.id}"  id="store_${result.id}_shelfButtonRow">Полка: <a id="store_${result.id}_shelf_name_out">${result.shelf_name}</a></button>
          </div>`

        const shelfParamsTitleRowDOM = document.createElement('b')
        shelfParamsTitleRowDOM.classList.add('my-3')
        shelfParamsTitleRowDOM.id = `store_${result.id}_shelfParamsTitleRow`
        shelfParamsTitleRowDOM.innerHTML = `Параметры полки <a id="store_${result.id}_shelf_name_out_1">${result.shelf_name}</a>:`

        const shelfParamsRowDOM = document.createElement('div')
        shelfParamsRowDOM.classList.add('row')
        shelfParamsRowDOM.id = `store_${result.id}_shelfParamsRow`
        shelfParamsRowDOM.innerHTML = `
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Ширина (мм): </span>
              </div>
              <input type="text" class="form-control" aria-describedby="basic-addon2" id="store_${result.id}_width" value="${result.width}">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" onclick="changeParam('${result.id}', 'width')">Сохранить</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Высота (мм): </span>
              </div>
              <input type="text" class="form-control" aria-describedby="basic-addon2" value="${result.height}" id="store_${result.id}_height">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" onclick="changeParam('${result.id}', 'height')">Сохранить</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Длина (мм): </span>
              </div>
              <input type="text" class="form-control" aria-describedby="basic-addon2" value="${result.length}" id="store_${result.id}_length">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" onclick="changeParam('${result.id}', 'length')">Сохранить</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Макс. вес (г): </span>
              </div>
              <input type="text" class="form-control" aria-describedby="basic-addon2" value="${result.carrying_capacity}"id="store_${result.id}_carrying_capacity">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" onclick="changeParam('${result.id}', 'carrying_capacity')">Сохранить</button>
              </div>
            </div>
          </div>`

        const imagePath = '/static/images/' + result.productName + ".png" + "?" + new Date().now
        const productCardDOM = document.createElement('div')
        productCardDOM.classList.add('row', 'mt-3', 'mb-3')
        productCardDOM.id = `store_${result.id}_shelfInside`
        productCardDOM.innerHTML = `
          <div class="col">
            <div class="collapse multi-collapse" id="${result.shelf_name}_${result.id}">
              <div class="row mb-3">
                <div class="col-md-12">
                  <button class="btn btn-danger btn-block" type="button" onclick="removeShelf('${result.id}')">Удалить полку</button>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="input-group mb-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Продукт на полке: </span>
                    </div>
                    <input type=text id="store_${result.id}_product" class="form-control input-sm" value="${result.productName}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" onclick="changeProduct('${result.id}')">Поменять продукт</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row bg-white my-2 p-2">
                <div class="col-md-2 text-center">
                  <img id="store_${result.id}_productImage" src="${imagePath}" class="img-fluid" style="height: 100px !important;">
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-10">
                      <b>Продукт: </b>"<a id="store_${result.id}_productTitle">${result.productName}</a>"
                      <br>
                      <b>Последнее заполнение: </b><a id="store_${result.id}_lastCharge">"${result.last_charge}"</a>
                      <br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="store_${result.id}_productsCount" class="font-weight-bold">Количество единиц продажи на полке: </label>
                      <div class="input-group mb-1">
                        <input type=text id="store_${result.id}_productsCount" class="form-control input-sm" value="${result.product_count}">
                        <div class="input-group-append">
                          <button class="btn btn-success" type="button" onclick="saveProductsCount('${result.id}')">Сохранить изменения</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="store_${result.id}_addProductCount" class="font-weight-bold">Добавить количество единиц продажи: </label>
                      <div class="input-group mb-1">
                        <input type=text id="store_${result.id}_addProductCount" class="form-control input-sm" value="0">
                        <div class="input-group-append">
                          <button class="btn btn-success" type="button" onclick="addProducts('${result.id}')">Добавить</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>`

        const addShelfButtonDOM = document.getElementById('addShelfButton')
        addShelfButtonDOM.parentNode.insertBefore(productCardDOM, addShelfButtonDOM.nextSibling)
        addShelfButtonDOM.parentNode.insertBefore(shelfParamsRowDOM, addShelfButtonDOM.nextSibling)
        addShelfButtonDOM.parentNode.insertBefore(shelfParamsTitleRowDOM, addShelfButtonDOM.nextSibling)
        addShelfButtonDOM.parentNode.insertBefore(shelfButtonRowDOM, addShelfButtonDOM.nextSibling)
        addShelfButtonDOM.parentNode.insertBefore(shelfNameRowDOM, addShelfButtonDOM.nextSibling)
      }

      function addShelfResultHandler (result) { genericResultHandler(result, addShelfSuccess)}

      function addShelf (storeElemId) {
        const data = {
          storeElem_id: storeElemId,
          sectionName: document.getElementById(`store_${storeElemId}_section_name`).value
        }
        ajaxRequest(url, "addShelf", data, addShelfResultHandler)
      }


      function changeProductSuccess (result) {
        console.log('success')

        const productImageDOM = document.getElementById(`store_${result.id}_productImage`)
        productImageDOM.src = '/static/images/' + result.productName + ".png" + "?" + new Date().now
        const productTitleDOM = document.getElementById(`store_${result.id}_productTitle`)
        productTitleDOM.innerText = result.productName
        const productsCountDOM = document.getElementById(`store_${result.id}_productsCount`)
        const lastChargeDOM = document.getElementById(`store_${result.id}_lastCharge`)

        productsCountDOM.nodeName === 'A'
          ? productsCountDOM.innerText = `${result.product_count}`
          : productsCountDOM.value = `${result.product_count}`

        const lastCharge = new Date(result.last_charge).format("mmmm d, yyyy, h:MM tt.")
        tt = lastCharge.substring(lastCharge.length - 3)
        tt = (tt === 'pm.') ? 'p.m.' : 'a.m.'
        lastChargeDOM.innerText = `"${lastCharge.substring(0, lastCharge.length - 3) + tt}"`
      }

      function changeProductResultHandler (result) { genericResultHandler(result, changeProductSuccess) }

      function changeProduct (storeElemId) {
        const data = {
          storeElem_id: storeElemId,
          productName: document.getElementById(`store_${storeElemId}_product`).value
        }
        ajaxRequest(url, "changeProduct", data, changeProductResultHandler)
      }
      {% endif %}


      function addProductsResultHandler (result) { genericResultHandler(result, addProductsSuccess) }

      function addProductsSuccess (result) {
        console.log('success')

        const productsCountDOM = document.getElementById(`store_${result.id}_productsCount`)
        const lastChargeDOM = document.getElementById(`store_${result.id}_lastCharge`)

        productsCountDOM.nodeName === 'A'
          ? productsCountDOM.innerText = `${result.product_count}`
          : productsCountDOM.value = `${result.product_count}`

        const lastCharge = new Date(result.last_charge).format("mmmm d, yyyy, h:MM tt.")
        tt = lastCharge.substring(lastCharge.length - 3)
        tt = (tt === 'pm.') ? 'p.m.' : 'a.m.'
        lastChargeDOM.innerText = `"${lastCharge.substring(0, lastCharge.length - 3) + tt}"`

        return false
      }

      function addProducts (storeElemId) {
        const addProductsCountDOM = document.getElementById(`store_${storeElemId}_addProductCount`)
        const addProductsCountString = addProductsCountDOM.value
        addProductsCountDOM.value = 0

        const data = {
          storeElem_id: storeElemId,
          addCount: addProductsCountString
        }

        ajaxRequest(url, "addProducts", data, addProductsResultHandler)
      }
    </script>
    {% if storeSections %}
      <div class="jumbotron border pb-0 pt-5">
        {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
          <div class="row mb-3" id="addSectionButtonRow">
            <div class="col-md-12">
              <button class="btn btn-success btn-block" type="button" onclick="addSection()">Добавить секцию</button>
            </div>
          </div>
        {% endif %}
        {% for sectionSet in storeSections %}
          {% with sectionSet|first as sectionHeader %}
            {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
              <div class="input-group mb-3" id="store_{{ sectionHeader.id }}_sectionNameRow">
                <div class="input-group-prepend">
                  <span class="input-group-text">Название секции: </span>
                </div>
                <input type="text" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon2" id="store_{{ sectionHeader.id }}_section_name" value="{{ sectionHeader.section_name }}">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" onclick="changeParam('{{ sectionHeader.id }}', 'section_name')">Сохранить</button>
                </div>
              </div>
            {% endif %}
            <div class="row" id="store_{{ sectionHeader.id }}_sectionButtonRow">
              <div class="col-md-12">
                <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#{{ sectionHeader.section_name }}" aria-expanded="false" aria-controls="{{ sectionHeader.section_name }}">Секция: <a id="store_{{ sectionHeader.id }}_section_name_out">{{ sectionHeader.section_name }}</a></button>
              </div>
            </div>
            <div class="row mt-3" id="store_{{ sectionHeader.id }}_sectionInside">
              <div class="col">
                <div class="collapse multi-collapse" id="{{ sectionHeader.section_name }}">
                  <div class="card card-body pb-0">
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <button class="btn btn-danger btn-block" type="button" onclick="removeSection('{{ sectionHeader.id }}')">Удалить секцию</button>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <button class="btn btn-success btn-block" type="button" id="addShelfButton" onclick="addShelf('{{ sectionHeader.id }}')">Добавить полку</button>
                      </div>
                    </div>
                    {% for section in sectionSet %}
                      {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                        <div class="input-group mb-3 mt-4" id="store_{{ section.id }}_shelfNameRow">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Название полки: </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon2" id="store_{{ section.id }}_shelf_name" value="{{ section.shelf_name }}">
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" onclick="changeParam('{{ section.id }}', 'shelf_name')">Сохранить</button>
                          </div>
                        </div>
                      {% endif %}
                      <div class="row">
                        <div class="col-md-12">
                          <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#{{ section.shelf_name }}_{{ section.id }}" aria-expanded="false" aria-controls="{{ section.shelf_name }}_{{ section.id }}"  id="store_{{ section.id }}_shelfButtonRow">Полка: <a id="store_{{ section.id }}_shelf_name_out">{{ section.shelf_name }}</a></button>
                        </div>
                      </div>
                      {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                        <b class="my-3" id="store_{{ section.id}}_shelfParamsTitleRow">Параметры полки <a id="store_{{ section.id }}_shelf_name_out_1">{{ section.shelf_name }}</a>:</b>
                        <div class="row" id="store_{{ section.id }}_shelfParamsRow">
                          <div class="col-md-6">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Ширина (мм): </span>
                              </div>
                              <input type="text" class="form-control" aria-describedby="basic-addon2" id="store_{{ section.id }}_width" value="{{ section.width }}">
                              <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" onclick="changeParam('{{ section.id }}', 'width')">Сохранить</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Высота (мм): </span>
                              </div>
                              <input type="text" class="form-control" aria-describedby="basic-addon2" value="{{ section.height }}" id="store_{{ section.id }}_height">
                              <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" onclick="changeParam('{{ section.id }}', 'height')">Сохранить</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Длина (мм): </span>
                              </div>
                              <input type="text" class="form-control" aria-describedby="basic-addon2" value="{{ section.length }}" id="store_{{ section.id }}_length">
                              <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" onclick="changeParam('{{ section.id }}', 'length')">Сохранить</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Макс. вес (г): </span>
                              </div>
                              <input type="text" class="form-control" aria-describedby="basic-addon2" value="{{ section.carrying_capacity }}"id="store_{{ section.id }}_carrying_capacity">
                              <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" onclick="changeParam('{{ section.id }}', 'carrying_capacity')">Сохранить</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      <div class="row mt-3 mb-3" id="store_{{ section.id }}_shelfInside">
                        <div class="col">
                          <div class="collapse multi-collapse" id="{{ section.shelf_name }}_{{ section.id }}">
                            <div class="card card-body">
                              {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                                <div class="row mb-3">
                                  <div class="col-md-12">
                                    <button class="btn btn-danger btn-block" type="button" onclick="removeShelf('{{ section.id }}')">Удалить полку</button>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col-md-12">
                                    <div class="input-group mb-1">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Продукт на полке: </span>
                                      </div>
                                      <input type=text id="store_{{ section.id }}_product" class="form-control input-sm" value="{{ section.product.name }}">
                                      <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button" onclick="changeProduct('{{ section.id }}')">Поменять продукт</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                              <div class="row bg-white my-2 p-2">
                                <div class="col-md-2 text-center">
                                  {% with 'images/'|add:section.product.name|add:'.png' as image_static %}
                                    <img id="store_{{ section.id }}_productImage" src="{% static image_static %}" class="img-fluid" style="height: 100px !important;">
                                  {% endwith %}
                                </div>
                                <div class="col-md-10">
                                  <div class="row">
                                    <div class="col-md-10">
                                      <b>Продукт: </b>"<a id="store_{{ section.id }}_productTitle">{{ section.product.name }}</a>"
                                      <br>
                                      <b>Последнее заполнение: </b><a id="store_{{ section.id }}_lastCharge">"{{ section.last_charge }}"</a>
                                      <br>
                                    </div>
                                  </div>
                                  {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                                    <div class="row">
                                      <div class="col-md-6">
                                        <label for="store_{{ section.id }}_productsCount" class="font-weight-bold">Количество единиц продажи на полке: </label>
                                        <div class="input-group mb-1">
                                          <input type=text id="store_{{ section.id }}_productsCount" class="form-control input-sm" value="{{ section.product_count }}">
                                          <div class="input-group-append">
                                            <button class="btn btn-success" type="button" onclick="saveProductsCount('{{ section.id }}')">Сохранить изменения</button>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                  {% endif %}
                                  {% if not request.user|has_group:'Management' and not request.user|has_group:'SystemAdministrators' %}
                                        <b>Количество единиц продажи на полке: </b>{{ section.product_count }}
                                        <br>
                                  {% endif %}
                                        <label for="store_{{ section.id }}_addProductCount" class="font-weight-bold">Добавить количество единиц продажи: </label>
                                        <div class="input-group mb-1">
                                          <input type=text id="store_{{ section.id }}_addProductCount" class="form-control input-sm" value="0">
                                          <div class="input-group-append">
                                            <button class="btn btn-success" type="button" onclick="addProducts('{{ section.id }}')">Добавить</button>
                                          </div>
                                        </div>
                                  {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
                                      </div>
                                    </div>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
          <br>
        {% endfor %}
      </div>
    {% else %}
      <div class="jumbotron border">
        {% if request.user|has_group:'Management' or request.user|has_group:'SystemAdministrators' %}
          <h3 class="text-center" style="color: red;">Полки не определены.</h3>
        {% else %}
          <h3 class="text-center" style="color: red;">Нет полок, назначенных на вас.</h3>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

{% endblock content %}
