{% extends "base.html" %}
{% block content %}
{% load static %}

<form action="" method="post" id="login">
  <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}" />
  {% csrf_token %}
  {% if form.email.errors %} {{ form.email.errors }} {% endif %}
  <fieldset id="inputs">
    <label for="{{ form.email.id_for_label }}">Enter your email:</label>
    <div id="email">{{ form.email }}</div>
  </fieldset>
  <input type="submit" class="btn btn-default btn-lg" value="Reset password" id="submit" />
</form>

{% endblock %}
