html {
  font-family: "Roboto", sans-serif;
}

body {
  margin-top: 90px;
}

.error-content-center {
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: red;
}

.jumbotron {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
